
@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');



/* Navigation bar color */
.custom_nav_bg {
    background-color: #ffc107;
}

.custom_font {
    font-family: 'Oswald', sans-serif;
}

.hero_bg {
    height: 70vh;
    width: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(./images/industrial-wall_HPNXDL5YZQ.jpg) no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
  }

.card {
    transition: all 0.3s;
    cursor: pointer;
}

  .card:hover {
    transform: scale(0.90);
    box-shadow: 10px 10px 33px 0px #101010d9;
  }

.bg_red {

  background-color:#ff1300;

}

.bg_red:hover {

  background-color: #000000;
  
}

.form_box {
padding-bottom: 13.125rem;
padding-top: 9.375rem;
}

.form-group small {
  color: #ff1300;
  visibility: hidden;
}

.select.error {
  border: 2px solid #ff1300 !important;
}

.select.success {
  border: 2px solid #008000 !important;
}


.form-group.error small {
  visibility: visible;
}

.form-group input:focus {
  background-color: #e5e3db;
}

.form-group.success input {
  border: 2px solid #008000 !important;
}

.form-group.error input {
  border: 2px solid #ff1300 !important;
}

input::placeholder {
  font-size: 0.875rem;
}


@media screen and (max-width: 426px) {
 
  .hidden {
    display: none;
}
  
}

/* Hover links */

*, *:after, *:before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

a:hover, a:focus {
	outline: none;
}

.effect a:after {
	position: absolute;
	top: 100%;
	left: 0;
	width: 100%;
	background: #000000;
	content: '';
	opacity: 0;
	-webkit-transition: height 0.3s, opacity 0.3s, -webkit-transform 0.3s;
	-moz-transition: height 0.3s, opacity 0.3s, -moz-transform 0.3s;
	transition: height 0.3s, opacity 0.3s, transform 0.3s;
	-webkit-transform: translateY(-10px);
	-moz-transform: translateY(-10px);
	transform: translateY(-10px);
}

.effect a:hover:after, .effect a:focus:after {
	height: 5px;
	opacity: 1;
	-webkit-transform: translateY(0px);
	-moz-transform: translateY(0px);
	transform: translateY(0px);
}

.effect a {
	line-height: 2em;
	-webkit-perspective: 800px;
	-moz-perspective: 800px;
	perspective: 800px;
}